.columns{
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.left{
  width: 30%;
  max-width: 232px;
}

.leftInner{
  background: #fff;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
}

.right{
  width: 70%;
  max-width: 570px;
}
